body {
  margin: 0;
  background-color: bisque;
}
/* Login */
.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-form {
  display: flex;
  justify-content: center;
}
.login-title {
  font-size: xx-large;
  color: white;
}
.login-input {
  height: 40px;
  margin-bottom: 10pxd;
}
.login-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #45a049;
}
.login-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Home*/
.home-page {
  display: flex;
  flex-direction: row;
}
/*links*/
.custom-link {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.custom-link:hover {
  color: #ff4500;
}
/*Budget Setup Component*/
.budget-setup {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: white;
}
/* Budget Display Component*/
.budget-display {
  display: flex;
  background-color: white;
  height: 100vh;
  width: 200px;
  justify-content: center;
}

/* Expense */
.new-expense-input {
  width: 140px;
}

/* Income */
.new-income-input {
  width: 140px;
}
/* Expense and Income type selection */
.expense-income-type {
  width: 100px;
}
/*popup styling*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100; /* Ensure it's on top */
}
/*edit popup styling*/
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100; /* Ensure it's on top */
  align-content: center;
}
